* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

#s {
    width: 30%;
    height: 100%;
    float: right;
    background-color: brown;
}

#im {
    height: 100px;
    border-radius: 50%;

}

#h2 {
    color: aqua;
    float: left;
    line-height: 100px;
    /*
    هي الخاصية منشان النص يصير بالمنتصف*/
    padding: 0 15px;
}

nav {
    direction: ltr;
    height: 60px;
    width: 70%;
}

nav ul {

    margin: 0;
    padding: 0;
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    display: inline-block;
}

nav li {
    float: left;
    display: inline-block;
    /*منشان القائمة تظهر بحانب بعضها البعض*/
    line-height: 100px;
    width: 175px;
    text-align: center;
}





nav a:hover {
    background-color: cadetblue;
    color: aquamarine;
    height: 100%;
    width: 100%;

}

body {

    align-items: center;
    justify-content: center;
    min-height: 110px;
    background: #343F4F;


}

.wrapper {
    margin-top: 110px;
    display: flex;

}

.wrapper .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 4s steps(100) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, red, blue);
}

footer {
    margin-top: 10%;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, red, blue);
}

#me {
    display: flex;

}

#me li {
    position: relative;
    display: block;
    color: chartreuse;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    left: 30%;
    margin-top: 2%;

}

#me li:hover {
    background-color: cadetblue;
    color: aquamarine;
    height: 5%;
    width: 5%;
}

a {
    text-decoration: none;
}
 #bu-ap{
            
            width: 50%;
            padding: 10px 4px;
            background: red;
            color: white;
            border: 0px;
            font-weight: bold;
            font-size: 20px;
             border-radius: 15px;
            cursor: pointer;
        
            outline: 0px;
            margin: 3px 0px;
          
        } 
        
        #bu-ap:hover{
            
            background: green;
            font-size: 22px;
            
        }
main{
    width: 100%;
    height: 450px;

}
#as1{
    width: 30%;
    height: 310%;
    
text-align: center;
    float: left;
    border: 1px 000 solid;
    
}
#foto{
    width: 90%;
    height: 20%;
    
}
#h1{
    padding: 10px 0;
    border-bottom: 3px solid green;
    
    
}
meter{
    width: 80%;
    height: 5%;
}
.art{
    float: left;
    width: 70%;
    height: 310%;
    border: 1px 000 solid;
}
#yem{
    width: 20%;
}
.ile{
    width: 1000px;
    box-shadow: 0  0 100px #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%);
    position: absolute;
}

.text{
    width: 100%;
    height: 60px;
    margin-top: 5px;
    padding-left: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.are{
    height: 150px;
    
}
.btn{

    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 20px;
    border: none;
     cursor: pointer;
}
